


body {
    padding: 0;
    margin: 0;

    max-width: 1000px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 66% 34%;
    grid-template-rows: 100px 400px auto 200px;

    grid-template-areas:
        "nav      nav" 
        "header   header"
        "main     aside"
        "footer   footer"
    ;
    background-color: #F2D0A7;
    font-family: content;
}
nav {
    grid-area: nav;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
nav a {
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: #1D1C17;
    padding: 15px 0px 7px 0px;
    background-color: #A68B81;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
}
nav a:hover {
    background-color: #a77e6f;
}
header {
    grid-area: header;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;

    text-align: center;
    padding-top: 40px;
}

.portrait {
    max-width: 250px;
    border: 10px solid white;
    border-radius: 50%;
}
h1 {
    color: white;
    font-size: 50px;
    text-shadow: -1px 1px 0 #F2D0A7,
                    1px 1px 0 #F2D0A7,
                    1px -1px 0 #F2D0A7,
                    -1px -1px 0 #F2D0A7;
    margin: 15px;
}

main {
    grid-area: main;
}
p, h1 {
    color: #1D1C17;
}
p {
    font-size: 18px;
    line-height: 34px;
}
h2, h3, h4, h5, h6 {
    color: #8C4F2B;
    font-family: headings;
}
aside {
    grid-area: aside;
    background-color: orangered
}
footer {
    grid-area: footer;
    background-color: purple;
}